.divider {
	margin-right: 1.5em;
	position: relative;
	top: .1em;
}

.time_span{
  padding-right: 2rem;
  font-family: var(--headingFont), monospace;
  text-transform: uppercase;
  letter-spacing: .50px;
  font-size: .83em;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);

  }
  to {
    -webkit-transform: translateX(-70vw);

  }
}

[data-theme='dark'] {
  .time_span {
    color: white;
  }

  .divider {
	filter: invert(1);
  }
}

@media (max-width: 768px) {
	.marquee {
		font-size: .7em;
	}
	.divider {
		width: 15px;
	}
}